<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div >
    <h1 class="display-4" style="color:rgb(89,59,208); font-weight: bold;">Welcome to our </h1>
</div>
<div class="text-right">
    <h1 class="display-4" style="color:rgb(89,59,208); font-weight:bolder;">Book View System</h1>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<style>

    body {
        width:100%;
        height:100vh;
        background-image: url("../Images/backgroundimage.jpg");
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
        position:relative;
    }
</style>